# Godot-specific ignores
.godot
.import
.vscode
export.cfg
export_presets.cfg
*.tmp
*.import
*.translation
.mono/
data_*/

# Docs
docs/*
!docs/index.html
!docs/points_calculation.html
!docs/points_calculation.js
!docs/points_calculation.md

# Project and Game resources
export
settings.ini

resources/*
resources/fonts/*
!resources/fonts/
!resources/fonts/Merriweather-Regular.ttf

resources/images/*
!resources/images/

resources/images/items_poe/*
!resources/images/items_poe
!resources/images/items_poe/Armour_Jewellery.json
!resources/images/items_poe/Armour_Jewellery.png
!resources/images/items_poe/Weapons.json
!resources/images/items_poe/Weapons.png

resources/images/ui/*
!resources/images/ui

resources/images/ui/bg/*
!resources/images/ui/bg
!resources/images/ui/bg/fog.png
!resources/images/ui/bg/Armour_Jewellery_shadow.png
!resources/images/ui/bg/surface_darkgrey.jpg
!resources/images/ui/bg/vingette_16x9.png
!resources/images/ui/bg/Weapons_shadow.png

resources/images/ui/elements/*
!resources/images/ui/elements
!resources/images/ui/elements/border.png
!resources/images/ui/elements/button.png
!resources/images/ui/elements/logo_menu.png
!resources/images/ui/elements/logo.png

resources/music/*
!resources/music
!resources/music/ps2_menu_ambience.ogg

resources/sfx/*
!resources/sfx
!resources/sfx/click_02_down.wav
!resources/sfx/click_02_up.wav

resources/themes/*
!resources/themes
!resources/themes/UI.tres
