# Godot-specific ignores
.godot
.import
.vscode
export.cfg
export_presets.cfg
*.tmp
*.import
*.translation
.mono/
data_*/


# Project and Game resources
export
settings.ini

resources/*
resources/fonts/*
!resources/fonts/
!resources/fonts/Merriweather-Regular.ttf

resources/images/*
!resources/images/
!resources/images/icon.ico
!resources/images/icon.png

resources/images/items_poe/*
!resources/images/items_poe
!resources/images/items_poe/Armour_Jewellery.json
!resources/images/items_poe/Armour_Jewellery.png
!resources/images/items_poe/Weapons.json
!resources/images/items_poe/Weapons.png

resources/music/*
!resources/music
!resources/music/ps2_menu_ambience.mp3

resources/sfx/*
!resources/sfx
!resources/sfx/click_02_down.wav
!resources/sfx/click_02_up.wav